<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SimpleServletProject1</display-name>
  
  
  <servlet>
  <servlet-name>xmlServlet</servlet-name>
  <servlet-class>edu.hsingwu.servlet.XMLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>xmlServlet</servlet-name>
  <url-pattern>/xmlServletPath</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>SimpleServlet</servlet-name>
  <servlet-class>edu.hsingwu.servlet.SimpleServlet</servlet-class>
  <init-param>
  <param-name>defaultName</param-name>
  <param-value>John Doe</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>SimpleServlet</servlet-name>
  <url-pattern>/simpleServletPath</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>InitJSP</servlet-name>
  	<jsp-file>/initPage.jsp</jsp-file>
  	<init-param>
  		<param-name>defaultUser</param-name>
  		<param-value>Default User Name</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>InitJSP</servlet-name>
  <url-pattern>/initpage.jsp</url-pattern>
  </servlet-mapping>
  
  
</web-app>